apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '4'
  creationTimestamp: '2020-07-09T09:14:22Z'
  generation: 4
  labels:
    app: froxie-python-app-test
  name: froxie-python-app-test
  namespace: default
  resourceVersion: '7787244'
  selfLink: /apis/apps/v1/namespaces/default/deployments/froxie-python-app-test
  uid: 5b2e8112-4f36-4eb8-8189-85760eb4ae9f
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: froxie-python-app-test
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: froxie-python-app-test
    spec:
      containers:
        - env:
            - name: LANG
              value: C.UTF-8
            - name: GPG_KEY
              value: 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
            - name: PYTHON_GET_PIP_URL
              value: >-
                https://github.com/pypa/get-pip/raw/eff16c878c7fd6b688b9b4c4267695cf1a0bf01b/get-pip.py
            - name: PYTHON_GET_PIP_SHA256
              value: b3153ec0cf7b7bbf9556932aa37e4981c35dc2a2c501d70d91d2795aa532be79
          image: >-
            registry-vpc.cn-hangzhou.aliyuncs.com/froxie/froxie_test_registry:froxie_python_test
          imagePullPolicy: Always
          name: froxie-python-app-test
          ports:
            - containerPort: 8889
              protocol: TCP
          resources:
            requests:
              cpu: '2'
              memory: 4Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
    - lastTransitionTime: '2020-07-09T09:47:07Z'
      lastUpdateTime: '2020-07-09T09:47:07Z'
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: 'True'
      type: Available
    - lastTransitionTime: '2020-07-09T09:14:22Z'
      lastUpdateTime: '2020-07-09T10:08:29Z'
      message: >-
        ReplicaSet "froxie-python-app-test-9c59dcddd" has successfully
        progressed.
      reason: NewReplicaSetAvailable
      status: 'True'
      type: Progressing
  observedGeneration: 4
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2

